<form action="" id="ustaForm" method="POST" data-ilce-url="{% url 'ajax_load_ilce' %}" novalidate>

    {% csrf_token %}

    
    {{form}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_il").change(function () {
      var url = $("#ustaForm").attr("data-ilce-url");  
      var ilId = $(this).val();  

      $.ajax({                      
        url: url,                    
        data: {
          'il': ilId       
        },
        success: function (data) {  
          $("#id_ilce").html(data);  
        }
      });

    });
  </script>
<input type="submit" name="Submit">

</form>